<%= form_for @room_message, remote: true, class: "comment-form" do |f|%>

  <%=f.text_field :message, class: "input-field message-input inline", autocomplete: "off" %>
 
    <div class="file_field_button file-field">
      <span><i class="material-icons small">attach_file</i></span>
      <%= f.file_field(:image, class: "upload_file") %>
    </div>

  <%=f.submit "SEND", :class => "message_btn" %>

  <%=f.hidden_field :user_id, :value => current_user.id %>
  <%=f.hidden_field :room_id %>
<%end%>