<% @room_messages.each do |message| %>
  <% if message.user_id == current_user.id %>
  <div class="your_each_message ">
    <div class="your_message valign-wrapper">
      <p data-role="message-text"><%= message.message %></p><br>
    </div>
    <img src="<%= message.user.gravatar_url%>" class="your-message-avatar circle" data-role="user-avatar" alt="<%= message.user.username %>">
  </div>
  <% else %>
  <div data-role="message-template" class="each_message">
    <img src="<%= message.user.gravatar_url%>" class="message-avatar circle" data-role="user-avatar">
    <div class="message valign-wrapper">
      <p data-role="message-text"><%= message.message %></p><br>
    </div>
  </div>
  <%end%>
  <div style='clear:both'></div>
<%end%>