<div class="container">
  <h1>
  <%= @room.name %>
  </h1>

  <div class="row">
    <div class="col s12">
      <% @room_messages.each do |message| %>
        <%= message %><br>
      <%end%>
    </div>

  <div class="row">
    <div class="col s12">
      <%= form_for @room_message, remote: true do |f|%>
        <%=f.text_area :message %>
        <%=f.submit%>

        <%=f.hidden_field :user_id, :value => current_user.id %>
        <%=f.hidden_field :room_id %>
      <%end%>
    </div>
  </div>
</div>