<!DOCTYPE html>
<html>

<head>
  <title>Chat App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if flash[:notice] %>
    <p class="notice center-align"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert center-align"><%= alert %></p>
  <% end %>

  <% if user_signed_in? %>
  <nav class="hide-on-large-only navbar">
    <div class="nav-wrapper"> 
      <a data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li>
      <div class="user-view">
        <div class="background">
        </div>
        <img class="circle" src="<%= current_user.gravatar_url %>">
        <span class="name"><%= current_user.username %></span>
        <span class="email"><%= current_user.email %></span>
      </div>
    </li>
    
    <li><div class="divider"></div></li>
      <%= render "rooms/list" %>
    <li><div class="divider"></div></li>
      <%= render "rooms/userlist" %>
    <li><div class="divider"></div></li>

    <li><%= link_to "Edit Profile", edit_user_registration_path, class: "text-white" %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <div class="copy">
      <p>AI-Mozi</p>
    </div>
  </ul>
  <%else%>
    <style>
      .main{
        padding-left: 0;
      }
    </style>
  <%end%>

   <div id="create_room" class="modal">
    <div class="modal-content center-align">
      <h4>Create new room</h4>
      <%= render 'rooms/form' %>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <%= yield %>
</body>

</html>